:root {
    color-scheme: dark;
}

body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.no-select {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.navbar {
    position: fixed;
    padding: 0 5em;
    width: 100%;
    height: 110px;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-weight: 600;
    font-size: 1rem;

    .navbar__right {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    .navbar__left>p,
    .navbar__right>p {
        cursor: pointer;

        a {
            color: inherit;
            /* blue colors for links too */
            text-decoration: inherit;
            /* no underline */
        }
    }
}


@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blink_cursor {
    animation: blink 1s infinite;
}

.hero {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */


    position: relative;
    background-color: black;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .hero__container-top {
        display: grid;
        place-content: center;
        height: 80%;

        h1 {
            font-weight: 700;
            color: white;
            font-size: clamp(2rem, 15vw, 15rem);
            text-wrap: nowrap;
            margin: 0.1em;
            line-height: 1;
            text-align: center;
        }

        p {
            color: #999;
            text-align: center;
            text-wrap: balance;
            font-size: clamp(1rem, 2vw, 1.75rem);
            max-width: 36ch;
        }

    }


    .hero__container-bottom {
        width: min(1920px, 100% - 3em);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        height: 40%;

        .hero__title {
            width: 40%;

            h2 {
                font-weight: 700;
                color: white;
                font-size: clamp(2rem, 8vw, 5rem);
                text-wrap: nowrap;
                position: relative;
                z-index: 0;
                line-height: 1;
                letter-spacing: -2px;

            }

            .hero__title-highlight {
                position: relative;
            }

            .hero__title-highlight::before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 1%;
                bottom: 10%;
                right: 0;
                top: 5%;
                background-color: var(--highlight-color, #f8b0da);
                /* default color is #f8b0da */
            }

        }

    }

    .click-pull {
        display: flex;
        justify-content: center;

        & img {
            width: 70%;
        }

    }

}

.object-container {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.divider {
    background-color: #000000;
    font-weight: 700;
    color: white;
    font-size: clamp(2rem, 8vw, 5rem);
    display: grid;
    place-content: center;
    padding: 20% 0 10%;
}

.divider-small-top {
    padding: 10% 0;
}

.project__section {
    background-color: black;
    min-height: 100vh;
}

.project__container {
    position: relative;
    width: min(1150px, 100% - 2em);
    margin-inline: auto;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(5, minmax(100px, 200px));
    grid-template-rows: repeat(3, minmax(200px, 350px));
    gap: 30px 30px;
    grid-template-areas:
        "project__card-1 project__card-1 project__card-2 project__card-2 project__card-2"
        "project__card-3 project__card-3 project__card-3 project__card-4 project__card-4"
        "project__card-3 project__card-3 project__card-3 project__card-5 project__card-5";
}

.project__container::before {
    content: 'hover over!';
    position: absolute;
    top: -1.5rem;
    right: 0;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #999999;
    letter-spacing: 3px;
    font-weight: bold;
}

.project__card {
    border-radius: 25px;
    position: relative;
    color: #fff;
    transition: transform 2s, opacity 2s;
    transform: translateY(50%);
    opacity: 0;
}

.project__card:hover {
    cursor: pointer;
}

.project__card-1 {
    grid-area: project__card-1;

}

.project__card-2 {
    grid-area: project__card-2;

}

.project__card-3 {
    grid-area: project__card-3;
    overflow: hidden;
    color: #eee;
}

.project__card__background__image {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}

.background-img-mockup {
    background-image: url(../media/phone-mockup1.png);
}

.project__card-3:hover .project__card__background__image {
    transform: scale(1.1);
}

.project__card-4 {
    grid-area: project__card-4;
    background-color: #141414;
    opacity: 0.8;
    background-color: #000000;
    opacity: 1;
    background-image: linear-gradient(30deg, #333333 12%, transparent 12.5%, transparent 87%, #333333 87.5%, #333333), linear-gradient(150deg, #333333 12%, transparent 12.5%, transparent 87%, #333333 87.5%, #333333), linear-gradient(30deg, #333333 12%, transparent 12.5%, transparent 87%, #333333 87.5%, #333333), linear-gradient(150deg, #333333 12%, transparent 12.5%, transparent 87%, #333333 87.5%, #333333), linear-gradient(60deg, #33333377 25%, transparent 25.5%, transparent 75%, #33333377 75%, #33333377), linear-gradient(60deg, #33333377 25%, transparent 25.5%, transparent 75%, #33333377 75%, #33333377);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;

    .scramble-container {
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;

        .scramble-text {
            max-width: 25ch;
            text-align: center;
            text-wrap: balance;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}

.project__card-5 {
    grid-area: project__card-5;
    overflow: hidden;
}

.background-img-clock {
    background-image: url(../media/clock-img.png);
}

.project__card-5:hover .project__card__background__image {
    transform: scale(1.1);
}

.project__card-title {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    color: white;

    h2 {
        position: absolute;
        left: 5%;
        bottom: 5%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}

@keyframes pulseShake {

    0%,
    100% {
        transform: rotate(0deg) scale(1);
        transform-origin: 50% 100%;
    }

    10% {
        transform: rotate(2deg) scale(1);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg) scale(1);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg) scale(1);
    }

    80% {
        transform: rotate(-2deg) scale(1);
    }

    90% {
        transform: rotate(2deg) scale(1);
    }

    50% {
        transform: rotate(0deg) scale(1.1);
    }
}

.project__description-title-animation {
    position: relative;
    cursor: pointer;
}


.project__description-title-animation h2::before {
    content: "hover over!";
    position: absolute;
    top: -0.6rem;
    right: 0;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #999999;
    letter-spacing: 3px;
    font-weight: bold;
}



.project__description-title-animation:hover {
    animation: pulseShake 2s infinite;
}

.project__description__section {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 60% 40%;
}

.project__description__section-text__container {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    transition: transform 2s, opacity 2s;
    transform: translateX(-100%);
    opacity: 0;
    overflow: hidden;

    .background-number {
        position: absolute;
        grid-area: 1 / 1 / 6 / 2;
        color: #222;
        font-size: clamp(2rem, 30vw, 34rem);
        font-weight: bold;
        place-self: center start;
        z-index: 1;
    }

    .front-text {
        grid-area: 1 / 1 / 9 / 2;
        place-self: center;
        margin: 5% 10%;
        color: white;
        z-index: 2;

        h3 {
            font-size: clamp(2rem, 5vw, 4rem);
            ;
            font-weight: 600;
            padding: 1em 0;
        }

        p {
            font-size: clamp(1rem, 1vw, 2rem);
            font-weight: 200;
            padding: 1em 0;
        }
    }
}

.project__description__section-img {
    place-self: center;
    width: 100%;
    height: 70%;
    border-radius: 5vw 0 0 5vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 2s, opacity 2s;
    transform: scale(0.5);
    transform-origin: 100% 50%;
    opacity: 0;
}


.project__description__section-img__01 {
    background: radial-gradient(circle, transparent 20%, black 20%, black 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, black 20%, black 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#333 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #333 2px, black 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}


.project__description__section-img__02 {
    background-image: url(../media/mockup/shapes1.png);
}

.project__description__section-img__03 {
    background-image: url(../media/mockup/presern0.jpg);
}


.project__description__section-img__04 {
    background-image: url(../media/mockup/text-transform.png);
}


.project__description__section-img__05 {
    display: grid;
    place-content: center;

    h3 {
        font-weight: 700;
        color: #a1a1a1;
        font-size: clamp(2rem, 4vw, 4rem);
        text-wrap: nowrap;
        border: 5px solid;
        padding: 1em;
        border-radius: 100px;
    }
}

.contact-divider {
    padding: 10% 0;
    overflow: hidden;
    position: relative;
}


.contact-divider-title {
    z-index: 1;
    transition: transform 2s, opacity 2s;
    transform: scale(0.1) translateY(-800%);
    opacity: 0;
    text-align: center;
    margin: 1em 0;
}

.form-container {
    position: relative;
    backdrop-filter: blur(3px);
}


.form-container::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vw;
    background-image: url(../media/contact-mail.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -1;

}

.form {
    display: grid;
}

fieldset {
    border: 1px solid #2b2b2b;
    border-radius: 0.25em;
    padding: 0;
    margin-top: 0.5em;
    background-color: black;
}

legend,
label {
    font-size: clamp(1rem, 5vw, 2.5rem);
    color: white;
}

label {
    font-size: clamp(1rem, 2vw, 1.5rem);
    display: grid;
    margin: 1em;
}

input,
textarea {
    margin: 1em 0.5em 0;
    padding: 1em;
    border: 1px solid #2b2b2b;
    border-radius: 0.5em;
    resize: vertical;
    background-color: #0c0c0c;
    color: #a1a1a1;
    box-shadow: 0px 0px 3px #111;
    font-size: 1rem;
    font-family: monospace;
    outline: 1px solid black;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #222 inset;
    -webkit-text-fill-color: #a2a2a2;
}

.success {
    color: #ff3e00;
    background-image: -webkit-linear-gradient(0deg, #DB4437 0%, #F4B400 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(1rem, 5vw, 2.5rem);
    text-align: center;
    margin-top: 1em;
}

.form-button {
    place-self: center;
    margin: 0.5em;
}


@media (max-width: 550px) {
    .navbar {
        padding: 0 1em;
    }
    
    .hero .hero__container-top {
        height: 50%;
    }

    .hero .hero__container-bottom {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

    }

    .project__container::before {
        content: 'click!';
    }

    .divider {
        padding: 40% 0;
    }
    .project__description-title-animation h2::before {
        top: 1rem;
        }
}

@media (max-width: 900px) {
    .project__container {
        grid-template-columns: repeat(2, minmax(100px, 300px));
        grid-template-rows: repeat(5, minmax(100px, 400px));
        grid-template-areas:
            "project__card-1 project__card-1"
            "project__card-2 project__card-2"
            "project__card-3 project__card-3"
            "project__card-4 project__card-4"
            "project__card-5 project__card-5";
    }

    .project__description__section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .project__description__section-img {
            height: 70%;
            border-radius: 0;
        }
    }
}

@media (hover: none) and (pointer: coarse) {
    .object-container {
        height: 70%;
    }

    .project__container::before {
        content: 'press & hold!';
    }

    .project__description-title-animation h2::before {
        content: 'press on!';
    }
}